{
  "extends": ["react-app", "airbnb"],
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }],
    "indent": ["error", 2],
    "semi": "warn"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "plugins": ["react"],
  "parser": "babel-eslint"
}
