{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }],
    "indent": ["error", 2],
    "semi": "warn"
  }
}