/* project color */
$quick_navy: #272a51;
$quick_mint: #28aae2;
$quick_black: #1a252a;
$quick_white: #fff;
$quick_light_navy: #373d75;
$quick_background: #28aae2;
/* common value */
$grid-container-width: 1200px;
$header-height: 60px;
$footer-height: 80px;

$match-card-height: 130px;
$match-card-width: 530px;
