@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
