# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
jsconfig.json

# dependencies
node_modules/

# testing
coverage/
cypress.env.json

# production
build/
dist/

# misc
.DS_Store
.env
.env.*
env.tar

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
.cache/

#prisma setup
docker-compose.yml
prisma.yml

#personal files
personal/
