@import '../../../commonStyle';

.match-register__btn--wrapper {
  padding: 10px 20px;
  box-sizing: border-box;
  .match-register__btn {
    display: block;
    margin: 0 0 0 auto;
    width: 80px;
    height: 30px;
    background-color: $quick_navy;
    border: 0 none;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    appearance: none;
    cursor: pointer;
  }
}
