// 임시 적용

.home-team-ranking {
  .grid-container {
    font-size: 50px;
    text-align: center;
    border: solid 5px red;
    height: 500px;

    button {
      width: 300px;
      height: 60px;
      font-size: 32px;
      border-radius: 2px;
      background-color: #5CAEAE;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}