@import '../../../commonStyle';

.team-members {
  .grid-container {
    padding: 0 80px 80px;
  }
  h2 {
    font-size: 34px;
    color: $quick_black;
    margin-bottom: 10px;
  }
}

.quickkick-table {
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  tr {
    th {
      text-align: center;
    }
    td {
      padding: 10px 30px;
    }
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $quick_mint;
    color: white;
  }
}
