@import '../../../commonStyle.scss';

.side-bar {
  padding: 70px 20px;
  height: 100%;
  z-index: 3000;
  box-sizing: border-box;
  background: $quick_white;
  color: $quick_navy;
  box-shadow: 2px 0 5px rgba(163, 121, 121, 0.5);
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  transition: all 0.2s ease-in-out;
  &--opening {
    right: 0;
  }
}
.close-btn {
  position: absolute;
  right: 25px;
  top: 25px;
  button {
    appearance: none;
    border: 0 none;
    background: none;
    cursor: pointer;
  }
}

.btn {
  display: block;
  width: 80px;
  height: 30px;
  background-color: $quick_navy;
  border: 0 none;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  appearance: none;
  cursor: pointer;
}

.auth-button {
  &__img {
    width: 100px;
  }
  cursor: pointer;
}
