.header {
  background-color: white;
  position: sticky;
  top: 0;
  height: 110px;

  .grid-container {
    display: flex;
    justify-content: space-between;
    height: 110px;

    > * {
      display: flex;
      align-items: center;
    }
  }

  &__left {
    a {
      width: 220px;
    }
    .logo {
      width:100%;
    }
  }

  &__right {
    .nav-bar {
      display: flex;
      font-weight: bold;
      > * {
        margin-left: 10px;
      }
    }
  }


}
