// 임시 적용

.home-introduce {
  // background-image: url('https://i.ibb.co/gRmmyTn/DSC09570.jpg');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // opacity: 70%;
  .grid-container {
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
    border: dashed 1px blue;
    height: 500px;
  }
}
