@import '../../../commonStyle';

.home-quick-match {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - #{$header-height + $footer-height});
  min-height: 550px;

  .grid-container {
    text-align: center;
  }

  .home__section-title {
    margin-bottom: 20px;
    font-size: 50px;
  }
  .go-match-btn {
    display: block;
    width: 200px;
    height: 54px;
    margin: 80px auto 0;
    background-color: $quick_navy;
    border-radius: 27px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 54px;
  }
}
