.footer {
  background-color: #17252a;
  color: whitesmoke;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 80px;
  &__list-items {
    list-style-type: none;
  }
}
