.match-filter {
  display: flex;
  border: 10px;
  > * {
    border: 10px solid black;
  }

  .region-picker {
    display: flex;
  }

  .time-picker {
  }

  .rank-switch {
  }

  .notification-btn {
  }
}
