@import '../../../commonStyle';

.match-apply-modal {
  display: none;

  &.visible {
    display: block;
  }

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  .modal-container {
    position: relative;
    z-index: 930;
    width: 530px;
    top: 50px;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: white;
    border-radius: 10px;

    .modal-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 40px 50px;
      .title {
        font-size: 20px;
        font-weight: bold;
      }

      .close-btn {
        position: absolute;
        right: 25px;
        top: 25px;
        button {
          appearance: none;
          border: 0 none;
          background: none;
          cursor: pointer;
        }
      }
    }

    .modal-main-section {
      padding: 0 50px;
      .info__title {
        display: block;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid $quick_mint;
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: bold;
        color: $quick_mint;
      }
    }

    .modal-host-info {
      margin-bottom: 50px;
      .host-name {
        margin-bottom: 10px;
        color: $quick_black;
        font-size: 16px;
      }
      .host-info__txt {
        word-break: keep-all;
        font-size: 14px;
        line-height: 1.7;
      }
    }

    .modal-match-info {
      p {
        font-size: 14px;
        line-height: 1.7;
        color: $quick_black;
      }
    }

    .apply-btn-container {
      padding: 30px 50px;
      text-align: right;
      button {
        padding: 10px 15px;
        border-radius: 10px;
        background-color: $quick_navy;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 920;
  }
}
