.match-filter {
  display: flex;
  border: 1px;
  > * {
    border: 1px dotted black;
    flex: 1;
  }

  .region-picker {
  }

  .time-range-picker {
  }

  .rank-switch {
  }

  .notification-btn {
  }
}
