@import '../../../commonStyle';
.button {
  border-radius: 4px;
  &--big {
    width: 50px;
    height: 30px;
  }

  &:hover {
    cursor: pointer;
  }
  &--team {
    width: 100px;
    height: 30px;
    color: $quick_white;
    font-size: 15px;
    font-weight: 700;
    background-color: $quick_light_navy;
    &:hover {
      background-color: $quick_navy;
    }
  }
}
