@import '../../../commonStyle';

.match-list {
  width: $match-card-width + 16px;
  //text-align: center;
  .no-list-view {
    display: flex;
    align-items: center;
    height: 60vh;
    font-size: 20px;
    color: #272a51;
    white-space: pre-wrap;
    text-align: center;
  }
}
.fetch-more__btn {
  display: flex;
  justify-content: center;
  margin: 20px auto 50px auto;
  width: 130px;
  height: 40px;
  background-color: $quick_navy;
  border: 0 none;
  border-radius: 10px;
  color: #fff;
  appearance: none;
  cursor: pointer;
  .fet-more__btn--span {
    font-size: 15px;
    font-weight: bold;
  }
}
