@import '../../../commonStyle';

.match-map {
  width: $grid-container-width - $match-card-width - 16px;

  .naver-map-container {
    #map {
      width: 100%;
      height: calc(100vh - 186px);
    }
  }
}
